html {
    font-size: calc(0.7em + 0.7vw);
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

body {
    display: block;
    background-image: url("graphics/backgroundWeb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: repeat-x;
    margin: -8px;
}

header {
    display: block;
    color: white;
    position: sticky;
    text-align: center;
    text-decoration: none;
    flex-wrap: wrap;
    outline: white;
    box-shadow: 0 5px 3px -3px #777;
    padding: 1%;
    background-color: white;
}

nav {
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: helvetica;
    font-weight: 400;
    font-stretch: extra-condensed;
}

footer {
    display: block;
    padding: 11px;
    height: 2612px;
    color: black;
    position: relative;
    background-color: white;
}

#headerLiponLogo {
    cursor: pointer;
    height: auto;
    width: 5%;
    min-width: 10%;
    margin-right: 20%;
    margin-left: 2.9%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#navButton {
    cursor: pointer;
    height: auto;
    width: 3.25%;
    margin-left: 5%;
}

#headerText {
    font-size: 10px;
}

#indexMain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#indexContent {
    width: 100%;
    position: relative;
    margin-top: 20%;
    left: 21.5%;
}

#indexButton {
    background-color: #ff1814;
    border: none;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    background-image: url(graphics/androidIcon2.png);
    background-repeat: no-repeat;
    background-position: 20px;
    background-size: 35px;
}

#indexButton:hover {
    background-color: #ff1814;
    border: none;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.8s
}

#indexButton:hover {
    opacity: 1;
    transition: 0s
}

#bigLiponLogo {
    margin-left: 20px;
}

#mainPageItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#homePageLiponAppPromo {
    margin-left: 28%;
    margin-top: 7.9%;
    margin-bottom: 5%;
    width: 47.4%;
    box-shadow: 0 0 50px #333;
    ;
}

#homePageLogo {
    height: 27%;
    width: 27%;
    margin-left: 35%;
    padding-top: 10%;
    padding-bottom: 7.9%;
}

#footerEstTextWrap {
    margin-left: 1.88%;
}

#productPageItemsWrap {
    display: flex;
    padding: 4%;
    flex-wrap: wrap;
    padding-bottom: 72px;
}

#productPageItem1 {
    height: 16%;
    width: 16%;
    margin-left: 2%;
}

#productPageItem2 {
    height: 20%;
    width: 70%;
}

#productPageLeftText {
    width: 100px;
}

#productGooglePlayText {
    width: 50%;
    margin-bottom: 3.5%;
    margin-top: 5%;
}

#productGooglePlayButton {
    width: 25%;
    margin-left: 5%;
    margin-bottom: 1%;
}

#promoGif {
    margin-top: 10%;
    border-radius: 10%;
    width: 113%;
    margin-left: 30%;
    margin-right: 20%;
}

#aboutPageSection {
    display: block;
    padding-bottom: 535px;
}

#contactPageSection {
    display: block;
    padding-bottom: 138px;
}

#contactPageSectionCenter {
    display: flex;
    justify-items: center;
}

#teamPageSection {
    display: block;
    padding-bottom: 535px;
}

#aboutPageSectionLeft {
    display: block;
    background-image: url("graphics/backgroundAbout.png");
    z-index: 1;
}

#aboutPageSectionRight {
    display: block;
}

#contactPageSectionCenter {
    margin-top: 5%;
}

#contactEmail {
    position: relative;
    display: inline-block;
}

#contactEmail #ContactEmailText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

#contactEmail:hover #ContactEmailText {
    visibility: visible;
}